/* --------------------------------- */
/* Basic Tweaks */
/* --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #999;
    text-rendering: optimizeLegibility;
}

html,body *{
    font-family: "Lato", Arial, sans-serif ;
    font-size: 18px;
    font-weight: 300 ;
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.699)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    height: 100px !important;
    height: auto;
    margin-left: 20px;
}

a.navbar-brand {
    color: #2980b9;
    text-transform: uppercase;
    font-size: 120%;
    font-family: 'Permanent Marker', cursive;
}


nav.navbar {
    padding: 10px;
}

/* --------------------------------- */
/* Navigation Links : LEFT ONES*/
/* --------------------------------- */

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.nav.navbar-nav li {
    display: inline-block;
    margin-left: 20px;
}

.nav.navbar-nav.navbar-left li a:link,
.nav.navbar-nav.navbar-left li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    
}

.nav.navbar-nav.navbar-left li a:hover,
.nav.navbar-nav.navbar-left li a:active {
    background: transparent;
    border-bottom: 2px solid #2980b9;
    
}

/* --------------------------------- */
/* Navigation Links: RIGHT ONES */
/* --------------------------------- */

.nav.navbar-nav.navbar-right li#login a:link,
.nav.navbar-nav.navbar-right li#login a:visited{
    color: #2980b9;
    text-decoration: none;
    font-size: 90%;
    background:#fff;
    font-weight: 400 ;
    box-shadow: -3px 3px 1px #2980b9;
    
    
}

.nav.navbar-nav.navbar-right li#gad a:link,
.nav.navbar-nav.navbar-right li#gad a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    background: #f1c40f;
    font-weight: 400 ;  
    
}